body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#0f172a;

font-family:Arial;

color:white;

}


.container{

background:#1e293b;

padding:30px;

width:400px;

text-align:center;

border-radius:15px;

box-shadow:0 0 20px black;

}


button{

padding:12px 20px;

margin:8px;

border:none;

border-radius:8px;

background:#22c55e;

color:white;

font-size:16px;

cursor:pointer;

}


button:hover{

background:#16a34a;

}


.hidden{

display:none;

}


#question{

font-size:32px;

margin:30px;

}


#options button{

display:block;

width:100%;

background:#334155;

}


#options button:hover{

background:#475569;

}


.correct{

background:#16a34a!important;

}


.wrong{

background:#dc2626!important;

}


.top{

display:flex;

justify-content:space-between;

}


#result{

font-size:22px;

height:30px;

}